/* 
Primary Color #ADF4F3 
Secondary Color #CFFFFE
Secondary Color #F5C7AE
*/
body
{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}
div
{
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
.image input[type="file"]
{
    display: none;
}
div input, label{
    font-family: 'silkscreen', cursive;
    width: 40vw;
    height: 10vh;
    display: grid;
    place-content: center;
    margin-top: 10px;
    font-size: x-large;
    text-align: center;
    transition: 0.5s ease;
    border: 1px solid black;
}
div input:hover,label:hover {
    cursor: pointer;
    background-color: #CFFFFE;
    border-radius: 10px;

}
div input:focus,label:focus {
    margin-top: 20px;
    margin-bottom: 20px;
}
.price
{
    -webkit-text-security: disc;
    text-security: disc;
}