.Container
{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3,1fr);
}
.Card
{
    width: 30vw;
    height: 30vh;
    background-color: aquamarine;
}