.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.info
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info .accordion
{
    font-size: large;
    font-family: 'silkscreen',cursive;
    font-weight: bolder;
    width: 90vw;
    height: 3vh;
    transition: 0.5s ease;
}
.info .accordion:hover
{
    background-color: black;
    color: white
}
.info .panel
{
    display: none;
    width: 90vw;
    background-color: azure;
    border: 1px solid black;
}