body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: gray;
}
section
{
    display: grid;
    grid-template-columns: repeat(2,48vw);
    gap: 2vw;
    grid-template-rows: repeat(2,80vh);
    justify-content: center;
    
}
body,RightContent, LeftContent
{
    font-family: 'silkscreen',cursive;
}
.RightContent,.LeftContent
{
    border: 10px solid rgb(4, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.RightContent button
{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: 'silkscreen',cursive;
    transition: 0.5s ease;
    background-color: transparent;
}
/* .RightContent button */

.RightContent button:hover
{
    cursor: pointer;
    transform: scale(1.2);
    background-color: black;
    color: white;
}
.RightContent button:active
{
    color: black;
    background-color: white;
    cursor: pointer;
    transform: scale(1);
}
.Form
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Form input
{
    width:300px;
    height: 50px;
    font-size: 20px;
    font-family: 'silkscreen',cursive;
    transition: 0.5s ease;
    text-align: center;
    caret-color: transparent;
}
.Form RightContent:focus
{
    width: 400px;
}

.LeftContent ul
{
    font-weight: bolder;
    font-size: 30px;


}

.LeftContent
{
    border: 10px solid white;
    background-color: black;
    color: white;
}