div
{
    width: 500px;
    height: 250px;
    background-color: aliceblue;
    display: grid;
    place-content: center;
}
h1,button,input
{
    display: flexbox;
    justify-content: center;
    align-items: center;
}
h1
{
    font-size: large;

}
button
{
    width: 350px;
    height: 50px;
}
input
{
    width: 350px;
    height: 50px;
    border-width: 2px;
    border-color: wheat;
}