body
{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #ABE7FF;
    overflow: none; 
}
div
{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;   
    border-radius: 10px;
    background-color:#E5F8FF ;
}
div input, button,span,h1
{
    color: #ffb566;
    font-family: 'Silkscreen', cursive;
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
    border: none;
}
input:focus
{
    border: 1px solid white;
}
h1
{
    font-size: 40px; 
}
div button
{
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}
div button:hover
{
    transform: translate(0px,-10px);
    box-shadow: 0px 10px 0px 0px rgba(0,0,0,1);
-webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,1);
border: 5px double rgb(0, 0, 0);
}
div button:focus
{
    transform: translate(0px,0px);
}
