nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav a
{
    font-size: x-large;
    transition: 0.5s all ease;
}
nav a:hover
{
    font-size: xx-large;
}