@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bree+Serif&family=Silkscreen:wght@700&display=swap');

.Header
{
    font-size: large;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.Header .School-Logo
{
    font-size: xx-large;
}
.Header nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: x-large;
}
