body
{
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;
    display: grid;
    place-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-size: xx-large;
    background: rgb(126,251,244);
    background: radial-gradient(circle, rgba(126,251,244,1) 77%, rgba(255,255,255,1) 100%);
}
div
{

    min-height: 50vh;
    min-width: 50vw;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 77%, rgba(126,251,244,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 18px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 2px 18px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 2px 18px 0px rgba(0,0,0,1);
    border-radius: 20px;
}
div button
{
    width: 200px;
    height: 100px;
    font-size: xx-large;
    font-family: 'Silkscreen', cursive;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    
}
div button:hover
{
    transform: translate(0px,-10px);
    box-shadow: 0px 25px 6px -15px rgba(0,0,0,1);
-webkit-box-shadow: 0px 25px 6px -15px rgba(0,0,0,1);
-moz-box-shadow: 0px 25px 6px -15px rgba(0,0,0,1);
}
div button:focus
{
    background-color: red;
}