body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    font-family: 'silkscreen',cursive;
    align-items: center;
    
}
.Header
{
    height: 10vh;
}
.Header h1
{
    font-size: xxx-large;
}
.Body
{
    height: 80vh;
}
.Body div
{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.Body input
{
    font-family: 'silkscreen',cursive;
    width: 400px;
    height: 50px;
    font-size: larger;
    border: none;
}
.Body button
{
    font-family: 'silkscreen',cursive;
    height: 55px;
    font-size: larger;
    border: none;
}
.Footer
{
    height: 10vh;
}