.itemcard
{
    font-family: 'silkscreen',cursive;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.ImageSide,.Info
{
    width: auto;
    height: 500px;
}
.ImageSide img
{
    width: auto;
    max-height: 500px;
    object-fit: cover;
}
.Info
{

    padding-left: 20px;
    background-color: azure;
}
.Purchase
{
    display: flex;  
    justify-content: space-around;
    align-items: center;
}
.Material, .Quantity
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Material button
{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    transition: 0.3s ease;
}
.firstcolor 
{
    background-color: rgb(255, 134, 134);
}
.secondcolor
{
    background-color: rgb(150, 150, 255);
}

.Material button:focus
{
    padding: 2px;
    border-radius: 10px;

}
@media screen and (max-width: 800px)
{
    .itemcard
    {
        flex-direction: column;
    }
    .ImageSide,.Info
    {
        width: 400px;
        height: 400px;
    }
    
}