section{
    display: grid;
    place-content: center;
    min-width: 100vw;
    min-height: 100vh;
}
.Tweet
{
    background-color: whitesmoke;
    width: 500px;   
    height: 100px;
    vertical-align: middle;
    padding-top: 50px;
    animation-delay: 5s;
    animation: FadeIntro 1s ease;
}
img
{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    vertical-align: middle;
    margin: 5px;
}
input
{
    width: 300px;
    vertical-align: middle;
    font-size: 19px;
    border: none;

}
button
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blue;
    border: none;
    width: 80px;
    height: 20px;
    border-radius: 25px;
    color: white;
}
.Intro h1
{
    display: grid;
    justify-content: center;

    animation: Effect forwards 2s ease;
}
@keyframes FadeIntro {
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@keyframes Effect {
    from
    {
        font-size: 500px;
    }
    to
    {
        font-size: 100px;
    }
}