body
{
    margin: 0%;
    padding: 0%;
    font-family: 'Silkscreen',cursive;
    overflow-x: hidden;
}
#Navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
}
#Navbar ul
{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Navbar ul a
{
    font-size: x-large;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
}
#Navbar ul a:hover
{
    color: blue;
    transform: translate(0px,-3px);
}


#container
{
    display: grid;
    place-items: center;
}



/* SubContainer-1 */
#container #subContainer-1 
{
    background-color: black;
    color: white;
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#subContainer-1 img
{
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: 0.3s ease-in-out;
}
#subContainer-1 img:hover
{
    transform: scale(1.2);
}
#subContainer-1 button
{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    font-family: 'silkscreen',cursive;
    border: 1px solid black;
}
#subContainer-1 button:hover
{
    transform: scale(1.2);
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    color: white;
}


#container div
{
    height: 50vh;
    width: 100vw;
}
.hidden
{
    opacity: 0;
    transition: 0.3s ease-in-out;
    filter: blur(10px);
    transform: translate(-100%);
}
.show
{
    opacity: 1;
    filter: blur(0px);
    transform: translate(0%);

}